body {
    margin: 0px;
}

h1 {
    font-size: 1em;
    margin-top: 0px;
}

h2 {
    font-size: 3em;
}

h1, h2 {
    display: flex;
    justify-content: center;
    color: #d8d8d8;
}

nav li {
    list-style: none;
    padding: none;
    text-align: center;
    display: inline-block;
    color: #d8d8d8;
}

nav ul {
    padding: 0;
    text-align: center;
}

/* home-page */

.home-page { 
    background-color:#3b3b3b;
    width: 100%;
    height: 500px;
    position: relative;
}

.home-page-nav {
    position: absolute;
    bottom: 0;
    left: 0;
}