body {
    margin: 0px;
}

h1 {
    font-size: 1em;
    margin-top: 0px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f7484e;
    font-size: 1.1em;
    font-family: 'Inconsolata', monospace;
}

h2 {
    font-size: 3em;
    position: absolute;
    width: 100%;
    padding-top: 45px;
    text-align: center;
    color: 	#F8F8F8;
}


nav li {
    list-style: none;
    padding: none;
    text-align: center;
    display: inline-block;
    color: #f7484e;
    font-size: 1.1em;
    font-family: 'Inconsolata', monospace;
}

nav ul {
    padding: 0;
    padding-bottom: 35px;
    text-align: center;
}

/* home-page */

.home-page { 
    background-color: #282828;
    width: 100%;
    height: 100vh;
}

.home-page-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
}

