body {
    margin: 0px;
}

h1 {
    margin-top: 0px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f7484e;
}

.main-header,
.frontpage-name {
    width: 100%;
    padding-top: 45px;
    margin: 0;
    text-align: center;
    color: 	#F8F8F8;
}

// home-page

.home-page,
.about-page,
.project-page,
.contact-page { 
    width: 100%;
    height: 100vh;
}

.home-page,
.contact-page  {
    background-color: #282828;
}

// about page 1

.about-page {
    background-color:#f7484e;
}

.about-page,
.project-page,
.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-information {
    width: 80%;
    margin: auto;
    margin-top: 35px;
}

// Project page
.project-page {
    background-color:#f7484e;
}

.project-page ul {
    padding: 0;
    padding-bottom: 35px;
    text-align: center;
}

.project-page li {
    list-style: none;
    padding: none;
    text-align: center;
    display: inline-block;   
}

.project-list {
    display: flex;
    justify-content: center;
    width: 100%;
}

// project 1
.background-img-projects {
    background-size: cover;
    background-repeat: no-repeat;
}

.img-project1 {
    background-image: url("../images/mountain-scene.jpg");
}

.project-title {
    text-align: center;
    padding-top: 40%;
    margin: 0px;
}

// contact page

.contact-information {
    width: 80%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 80px;
}

.contact-information p {
    line-height: 140%;
}

// social media links
.social-media-links {
    list-style: none;
}