h1 {
    font-size: 1.1em;
    font-family: 'Inconsolata', monospace;
    color: #f7484e;
}

h2 {
    font-size: 3em;
}

.sub-header {
    font-family: 'Inconsolata', monospace;
}

nav li {
    font-family: 'Inconsolata', monospace;
    font-size: 1.1em;
    color: #f7484e;
}

// project page
.project-page li {
    font-family: 'Inconsolata', monospace;
    font-size: 1.1em;
    color: white;
}

.project-title {
    font-size: 2em;
}

// contact page

.contact-information h4 {
    font-size: 1.3em;
}

.email-me {
    color: #f7484e;
}